.editor {
  width: rem(522);
  min-height: rem(262);
  background: var(--white);
  border: 1px solid var(--progres-text-active);
  box-sizing: border-box;
  outline: none;
  border-radius: rem(6);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--progres-text-active);
  margin: 0;
  margin-top: rem(20);
  resize: none;

  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: var(--select-background-color);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--disable-text-color);

  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--disable-text-color);
  }


  &.ERROR {
    border: 1px solid #CE1E1E;
  }

  &.saved {
    border: 1px solid #84C15E;
  }

}

.code__editor__container {
  display: flex;
  flex-direction: column;
}

.code__editor__text {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  height: rem(20);
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 473px;
  overflow: hidden;

  &.ERROR {
    color: var(--danger);
  }

  &.saved {
    color: #80BB5B;
  }
}