.input {
    background: var(--white);
    border: 1px solid var(--progres-text-active);
    box-sizing: border-box;
    border-radius: rem(6);
    padding: rem(6) rem(5) rem(6) rem(12);
    outline: none;

    &.together {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &:disabled {
        border: 1px solid var(--disable-text-color);
        cursor: no-drop;

        &::placeholder {
            color: var(--disable-text-color);
            opacity: 1;
        }
    }

    &.search {
        width: rem(342);
        height: rem(42);
        padding: rem(6) rem(5) rem(6) rem(42);

    }


    &__button {
        background-color: transparent;
        border: 0;
        outline: none;
        cursor: pointer;
        position: relative;
        left: rem(35);
        top: rem(3);

        svg,
        path {
            fill: var(--tutorial-text-color);
        }

        &:disabled {
            cursor: no-drop;

            svg,
            path {
                fill: var(--disable-text-color);
            }
        }
    }
}