.multiple__progress__bar{


    &.false{
        display: flex;
        gap: rem(10);
        align-items: center;
    }

    margin-bottom: rem(10);

    &__name{
        height: rem(19);
        background: var(--disable-text-color);
        border-radius: rem(6);
        padding: rem(3) rem(5);
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
        width: max-content;
        margin-bottom: rem(10);
        
        &--success{
            color: #80BB5B;
            background: rgba(128, 187, 91, 0.1);
        }

        &--error{
            background: rgba(206, 30, 30, 0.1) !important; 
            color: var(--danger);
        }
    }
}