.progress {
    width: 100%;
    background: var(--white);
    box-shadow: 0px rem(3) rem(6) rgba(14, 31, 53, 0.08), 0px rem(6) rem(12) rgba(14, 31, 53, 0.12), 0px rem(8) rem(24) rgba(14, 31, 53, 0.08);
    border-radius: rem(6);
    display: flex;
    justify-content: space-between;
    height: rem(70);
    margin-bottom: rem(36);


    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: rem(26.5);
        background-color: var(--white);
        border: 0;
        outline: none;
        cursor: pointer;
        font-style: normal;
        font-weight: 600;
        font-size: rem(12);
        line-height: 140%;
        text-transform: uppercase;
        color: var(--progres-text-active);
        border-radius: rem(6);
        min-width: rem(180);

        &__text {
            margin-right: rem(6.5);
        }

        &__icon {
            position: relative;
            top: rem(1.6);

            svg,
            path {
                fill: var(--blue);
            }
        }

        &--disable {
            cursor: no-drop;

            .progress__item__text {
                color: var(--disable-text-color);
            }

            .progress__item__icon {

                svg,
                path {
                    fill: var(--disable-text-color);
                }
            }
        }

    }

    &__upload__button {
        width: rem(120);
        margin-left: rem(30);
        border: rem(2) solid #1A4F95;
        border-radius: rem(5);
        background-color: transparent;
        line-height: rem(17);
        color: #1A4F95;
        padding: rem(8) 0;
        font-weight: 600;
        font-size: rem(14);
        cursor: pointer;
        height: rem(33);
        display: grid;
        place-content: center;

        &:disabled {
            color: var(--disable-text-color);
            border-color: var(--disable-text-color);
            cursor: no-drop;
        }
    }


    &__settings {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: rem(26.5);
        background-color: var(--white);
        border: 0;
        outline: none;
        cursor: pointer;
        font-style: normal;
        font-weight: 600;
        font-size: rem(12);
        line-height: 140%;
        text-transform: uppercase;
        color: var(--progres-text-active);
        border-radius: rem(6);
        min-width: rem(80);

        &__icon {
            width: rem(40);
            text-align: right;
            position: relative;
            top: rem(2);
        }

        &.disabled {

            svg,
            path {
                fill: var(--disable-text-color);
                cursor: no-drop;
            }
        }
    }


    &__info {
        display: flex;
        align-items: center;
        gap: rem(20);
        width: rem(400);
        justify-content: space-between;
        padding: rem(20);

        &__bar {
            display: flex;
            flex-direction: column;
            gap: rem(2);
        }

        &__text {
            margin: 0;
            font-style: normal;
            font-weight: 600;
            font-size: rem(12);
            line-height: 140%;
            text-transform: uppercase;
            color: var(--progres-text-active);
            margin-bottom: rem(5);
        }

        &__buttons {
            display: flex;
            gap: rem(20);
            position: relative;
            top: rem(4);

            svg {
                cursor: pointer;
            }
        }
    }

}


.divided__progress__loader {
    width: 100%;
    display: flex;
    gap: rem(2);

    &__item {
        display: block;
        width: rem(24);
        height: rem(4);
        background: #E8EBFE;
        border-radius: rem(3);

        &.complated {
            background-color: var(--green);
        }
    }


}