.multiple__select {
    width: rem(234);
    position: relative;

    &__main {
        background: var(--select-background-color);
        box-sizing: border-box;
        border-radius: rem(6);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: rem(5) rem(12) rem(6) rem(12);

        &__icon {
            position: relative;
            top: rem(-2);
            cursor: pointer;

            .rotate {
                transform: rotate(180deg);
            }
        }

        &__text {
            display: flex;
            flex-wrap: wrap;
            gap: rem(5);
            font-size: rem(16);
            line-height: rem(21);
            display: flex;
            align-items: center;
            color: var(--blue);
        }

        &__badge {
            background: var(--disable-text-color);
            border-radius: rem(6);
            padding: rem(2) rem(7);
            margin-right: rem(4);
            display: inline-block;
            font-style: normal;
            font-weight: 400;
            font-size: rem(14);
            line-height: rem(19);
            color: var(--progres-text-active);
            display: flex;
            align-items: center;

            span {
                width: rem(50);
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            svg {
                cursor: pointer;
                position: relative;
                top: rem(1.4);
                margin-left: rem(8);
            }
        }
    }

    &__elemets {
        display: flex;
        flex-direction: column;
        max-height: 0;
        transition: max-height 0.2s ease-in-out;
        overflow: hidden;
        position: absolute;
        width: 100%;

        &__item {
            padding: rem(8) rem(10) rem(8) rem(10);
            cursor: pointer;
            background: var(--select-background-color);

            &:hover {
                background-color: var(--disable-text-color);

                span {
                    color: var(--tutorial-text-color);
                }
            }

            div {
                position: relative;
                left: rem(30);
            }

            span {
                font-style: normal;
                font-weight: 400;
                font-size: rem(14);
                line-height: 120%;
                color: var(--progres-text-active);
            }


        }

        &.open {
            max-height: 500px;
            transition: max-height 0.2s ease-in;
        }
    }

}



.select {
    width: rem(190);
    position: relative;


    &.small{
        width: rem(60);

        .multiple__select__main__text{
            font-style: normal;
            font-weight: 400;
            font-size: rem(14);
            line-height: 130%;
            color: var(--tutorial-text-color);
            padding: 0;
            
        }

        .multiple__select__main{
            padding: rem(5) rem(5) rem(7) rem(8);
            position: relative;
            z-index: 1;
        }
        
    }


    

    &__dropdown {
        position: absolute;
        width: 100%;
        background: var(--select-background-color);
        border-radius: rem(6);
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s ease-in-out;
        z-index: 1000;
        &.open {
            max-height: rem(160);
            overflow-y: scroll;
            transition: max-height 0.2s ease-in-out;
        }

        &__element {
            padding: rem(5) rem(6) rem(5) rem(10);
            display: flex;
            justify-content: space-between;
            height: rem(27);
            align-items: center;
            cursor: pointer;


            &:hover {
                background: var(--disable-text-color);

                .select__dropdown__element__icon {
                    display: block;
                }

                .select__dropdown__element__text {
                    color: var(--tutorial-text-color);
                }

            }

            &__icon {
                display: none;
            }

            &__text {
                font-weight: 400;
                font-size: 14px;
                line-height: 120%;
                width: 100%;
                color: var(--progres-text-active);

                &--header {
                    font-weight: 400;
                    font-size: rem(16);
                    line-height: 120%;
                    color: var(--blue);
                }
            }
        }
    }
}