.table {
    margin-bottom: rem(20);
    &__header {
        background: var(--white);
        border-radius: rem(6) rem(6) 0px 0px;
        padding: rem(20) rem(70);
        display: flex;
        gap: rem(20);

        &__shadow {
            height: rem(12);
            width: 100%;
            background: linear-gradient(180deg, #EFEFEF 0%, #F2F3F3 9.7%, #FFFFFF 100%);
            mix-blend-mode: multiply;
        }

        .table__cell {
            font-style: normal;
            font-weight: 600;
            font-size: rem(12);
            line-height: rem(16);
            letter-spacing: rem(0.327273);
            text-transform: uppercase;
            display: flex;
            gap: rem(10);
            align-items: center;
            color: var(--table-header-color);
        }


        .plus{
            border-radius: 50%;
            background-color: var(--blue);
            cursor: pointer;
            display: grid;
            place-content: center;
            height: rem(20);
            width: rem(20);
            border: 0;
        }
    }

    &__cell {
        width: rem(330);


        &__name{
            font-style: normal;
            font-weight: 400;
            font-size: rem(14);
            line-height: rem(17);
            color: var(--blue);
        }

        &__chosen{
            font-weight: 600;
            font-size: rem(12);
            line-height: 140%;
            text-transform: uppercase;
            color: var(--orange);
        }

        &__dot{
           .dot{
               position: relative;
               left: rem(30);
           }
        }
    }


    &__row{
        display: flex;
        background: var(--white);
        border-radius: rem(6) rem(6) 0px 0px;
        padding: rem(20) rem(70);
        display: flex;
        border-bottom: 1px solid var(--dropdown--border);
        // border-image: linear-gradient(to right, var(--dropdown--border) 97.5%, transparent 50%) 100% 1;
        gap: rem(20);
        align-items: center;

        .select{
            width: rem(234);
            position: relative;
            left: rem(-10);
        }
        
        &:last-child{
            border: 0;
        }
    }


    &__nodata{
        background-color: var(--white);
        text-align: center;
        font-weight: 600;
        font-size: rem(16);
        line-height: rem(16);
        letter-spacing: 0.327273px;
        text-transform: uppercase;
        color: var(--table-header-color);
        padding: rem(15) 0;
    }
}