.box{
    background: var(--white);
    box-shadow: 0px 3px 6px rgba(14, 31, 53, 0.08), 0px 6px 12px rgba(14, 31, 53, 0.12), 0px 8px 24px rgba(14, 31, 53, 0.08);
    border-radius: 6px;
    
    &.small{
        padding: rem(20) rem(105) rem(20) rem(66);
    }

    &.small-multiple{
        padding: rem(20) rem(83) rem(20) rem(78);
        background: var(--disable-text-color);
        border-radius: 6px;
        box-shadow:none
    }
}

.multitable_container{
    margin: 0 rem(10);
    .box{
        margin-top: rem(30);
        margin-bottom: rem(40);
    }
}