.masking__rules {
    .header {
        margin: rem(40) rem(0) rem(40) rem(20)
    }

    &__container {
        display: flex;
        gap: rem(10);

    }


    &__left {
        padding: rem(30);
        width: rem(483);
        min-height: rem(481);
        left: 0px;
        top: 0px;
        border-radius: rem(8);



        .note {
            font-weight: 400;
            font-size: 12px;
            line-height: 130%;
            color: var(--progres-text-active);
        }

        p {
            font-weight: 400;
            font-size: rem(14);
            line-height: 140%;
            color: #1E2432;
            font-family: var(--font-sogoe);
        }
    }

    &__right {
        padding: rem(30);
        width: 100%;
        background: var(--background--white);
        box-shadow: 0px 3px 6px rgba(14, 31, 53, 0.08), 0px 6px 12px rgba(14, 31, 53, 0.12), 0px 8px 24px rgba(14, 31, 53, 0.08);
        border-radius: rem(8);


        &__actionbox {
            position: relative;
            width: 100%;
        }

        &__next {
            display: flex;
            justify-content: end;
            margin: rem(21) 0;
        }


        &__actions {
            display: flex;
            justify-content: space-between;
            width:100%;
            margin-top: rem(10);
            justify-content: flex-end;

            &__input {
                display: flex;
                position: relative;
                gap: rem(10);
                

                button{
                    padding: 11px 43px !important;
                    height: 40px !important;
                    border-radius: 5px !important;
                }

                input {
                    height: rem(40) !important;
                    background: #FFFFFF !important;
                    border-radius: 6px !important;
                    width: 234px !important;
                }


            }

            
            
        }

        &__selectitems {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }


        &__container {
            display: flex;
            gap: rem(50);
        }

        &__saved {

            &__container {
                display: flex;
                gap: rem(30);
            }

            &__header {
                font-weight: 400;
                font-size: 14px;
                line-height: 140%;
                color: var(--tutorial-text-color);
                margin: rem(10) 0;
                background: var(--select-background-color);
                padding: rem(5);
                margin-top: rem(25);
            }

            &__main {
                margin: rem(10) 0;
                padding: 0;
                font-style: normal;
                font-weight: 400;
                font-size: rem(16);
                line-height: rem(21);
                color: var(--blue);
            }

            &__item {
                margin: rem(10);
                margin-left: rem(2);
                padding: 0;
                font-style: normal;
                font-weight: 400;
                cursor: pointer;
                font-size: rem(16);
                line-height: rem(21);
                color: var(--orange);
            }
        }
    }
}


.masking__rules__right__table {
    width: rem(450);
    background-color: var(--select-background-color);

    &__header,
    &__body {
        display: flex;
        justify-content: space-around;
    }

    &__header {

        .cell_1,
        .cell_2,
        .cell_3 {
            font-weight: 600;
            font-size: rem(12);
            line-height: 140%;
            text-transform: uppercase;
            color: var(--tutorial-text-color);

        }
    }

    &__body {

        border-bottom: 1px solid #E8EBFE;
        ;

        .cell_1 {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 130%;
            color: var(--tutorial-text-color);
        }

        .cell_2,
        .cell_3 {
            font-weight: 400;
            font-size: 12px;
            line-height: 130%;
            color: var(--progres-text-active);
        }
    }

    &__cell {
        padding: rem(10);
        word-wrap: break-word;
        word-break: break-all;
    }

    .cell_1 {
        width: rem(90);
    }

    .cell_2 {
        width: rem(200);
    }

    .cell_3 {
        width: rem(180);
    }
}


.list {
    list-style: none;
}

.list li::before {
    content: "\2022";
    color: var(--orange);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.list li {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: var(--tutorial-text-color);
}

.masking__rule__save_button_text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #80BB5B;
    left: rem(13);
    top: rem(39);
    position: absolute;
}