.tutorial {
  padding: 0 rem(25);

  .header {
    margin: rem(40) 0;
  }
  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: rem(14);
    line-height: 140%;
    color: var(--tutorial-text-color);
  }

  &__video {
    text-align: center;
    margin: rem(40) 0;
  }

  &__button {
    display: flex;
    justify-content: end;
  }
}
