:root {
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
	--progres-text-active:#696D8C;
	--input-border-color:#586B9D;
	--disable-text-color:#E8EBFE;
	--orange:#FF8F3E;
	--background--white:#FEFEFF;
	--blue:#1A4F95;
	--tutorial-text-color:#1e2432;
	--select-background-color:#F9FAFF;
	--dropdown--border:#EAE9ED;
	--table-header-color:#757689;
	--green:#84C15E;
	--green-button:#80BB5B;
	--danger:#CE1E1E;
}


