@import '../util';

.main__container{
    padding: rem(30) rem(30) rem(50) rem(30);
    min-width: rem(1440);
}

.flex{
    display: flex;
}

.orange{
    color: var(--orange);
}

.danger{
    color: var(--danger);
}